.navbar {
    background-color: cornflowerblue;
    padding: 1em;

    .navbar-item{
        color: white;
        text-decoration: none;

        &:hover {
            color: greenyellow;
        }
    }
}