.palette {
    display: flex;
    justify-content: center;
}

.color {
    width: 2rem;
    height: 2rem;
    opacity: 0.5;
    transition: all 0.2s;
    cursor: pointer;

    &.black {
        background : #343a40;
    }
    
    &.red {
        background : #f03e3e;
    }

    &.green {
        background : #12b886;
    }

    &.blue {
        background : #228ae6;
    }

    &:hover {
        opacity: 0.75;
    }
    
    &.active, &:active {
        opacity: 1;
    }

    & + & {
        margin-left: 1rem;
    }
}