.todoapp {
    background-color: lightblue;
    width: 100%;
    height: 100%;
}

.TodoTemplate {
    width: 512px;
    margin: 0 auto;
    border-radius: 4px;
    overflow: hidden;

    .app-title {
        background-color: dodgerblue;
        color:  white;
        height: 4rem;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content {
        background-color: white;
    }
}